@import "tailwindcss";
@import "tailwindcss-animated";
@theme {
  --font-display: "inter", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-text: rgba(25, 34, 82, 1);
  --color-background: rgba(250, 250, 250, 1);
  --color-primary-500: rgba(74, 116, 234, 0.5);
  --color-primary: rgba(74, 116, 234, 1);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

:root {
  font-family: inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:where(.css-dev-only-do-not-override-vxenvr).ant-skeleton.ant-skeleton-element {
  width: 100%;
}
:where(
    .css-dev-only-do-not-override-vxenvr
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-vxenvr).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-vxenvr
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-vxenvr).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}
.scrollbar::-webkit-scrollbar {
  width: 0px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 0px;
  border: 1px solid #f1f1f1;
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dddddd #ffffff;
}
